:root {
  font: 16px / 1 sans-serif;

  // SDG brand colors
  --asphalt: #2f3737;
  --bright-sky: #80ced2;
  --lime: #b1d133;
  --night-sky: #85577e;
  --sand: #f7f0da;
  --sea: #5a9090;
  --sun: #d5562b;
  --tangerine: #f99d1b;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  text-align: center;
}

h1 {
  text-shadow: rgb(166, 166, 166) 0px 1px 0px, rgb(166, 166, 166) 0px 2px 0px,
    rgb(166, 166, 166) 0px 3px 0px, rgb(166, 166, 166) 0px 4px 0px,
    rgba(0, 0, 0, 0.2) 0px 5px 1px, rgba(0, 0, 0, 0.3) 0px 0px 10px,
    rgba(0, 0, 0, 0.4) 0px 3px 5px, rgba(0, 0, 0, 0.5) 0px 6px 5px,
    rgba(0, 0, 0, 0.6) 0px 10px 10px;
}

main {
  display: flex;
  justify-content: center;
}

.grouping {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#sliderContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 1rem;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  background: #ccc;
  border-radius: 16px;
  height: 15px;
  width: 15rem;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hue,
.saturation,
.lightness {
  width: auto;
}

#colorBox {
  height: 100px;
  width: 100px;
  justify-self: end;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem 0.4rem black;
}

.textBox {
  width: 3ch;
  text-align: right;
}

.label {
  column-gap: 20px;
  row-gap: 20px;
  width: 1ch;
}

.hslTextBox {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

button {
  cursor: pointer;
}

#reference {
  padding: 10px 0px;
}
