:root {
  font: 16px / 1 sans-serif;

  // SDG brand colors
  --asphalt: #2f3737;
  --bright-sky: #80ced2;
  --lime: #b1d133;
  --night-sky: #85577e;
  --sand: #f7f0da;
  --sea: #5a9090;
  --sun: #d5562b;
  --tangerine: #f99d1b;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  text-align: center;
}

h1 {
  // font-size: 3.5rem;
  // text-shadow: 0rem 0.3rem 1rem #2f3737;
  text-shadow: rgb(166, 166, 166) 0px 1px 0px, rgb(166, 166, 166) 0px 2px 0px,
    rgb(166, 166, 166) 0px 3px 0px, rgb(166, 166, 166) 0px 4px 0px,
    rgba(0, 0, 0, 0.2) 0px 5px 1px, rgba(0, 0, 0, 0.3) 0px 0px 10px,
    rgba(0, 0, 0, 0.4) 0px 3px 5px, rgba(0, 0, 0, 0.5) 0px 6px 5px,
    rgba(0, 0, 0, 0.6) 0px 10px 10px;
}

main {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  grid-column: span 3;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

article {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sliderStyle {
  padding: 2px;
  gap: 1rem;
}

#hueSlider {
  text-align: center;
  padding: 0px;
}

#saturationSlider {
  text-align: center;
  padding: 2px 0px;
}

#lightnessSlider {
  text-align: center;
  padding: 2px 0px;
}

.hue,
.saturation,
.lightness,
.alpha {
  width: 60%;
}

#colorBox {
  height: 100px;
  width: 60%;
  justify-self: end;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem 0.4rem black;
}

.textBox {
  width: 3ch;
  text-align: right;
}

.label {
  column-gap: 20px;
  row-gap: 20px;
  width: 1ch;
}

.hslTextBox {
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

button {
  cursor: pointer;
}

#reference {
  padding: 10px 0px;
}
